/* Estilo Base (Tema Claro) */
body {
  font-family: Roboto, sans-serif;
  background-color: #fff; /* Fundo claro */
  color: #000; /* Fonte preta */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s; /* Animação suave */
}

.container {
  text-align: center;
  background: #fff; /* Fundo claro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

h1 {
  color: #333; /* Título em tom mais escuro no tema claro */
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9; /* Fundo claro para inputs */
  color: #000; /* Fonte preta */
  transition: background-color 0.3s, color 0.3s;
}

button {
  padding: 10px 20px;
  background-color: #007bff; /* Azul no tema claro */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

#weatherResult {
  margin-top: 20px;
  text-align: left;
}

.weather-card {
  background-color: #f9f9f9; /* Fundo claro para cards */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

#themeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

#themeButton:hover {
  transform: scale(1.1);
}

/* Estilo para o Tema Escuro */
body.dark-mode {
  background-color: #121212; /* Fundo escuro */
  color: #e0e0e0; /* Fonte branca */
}

body.dark-mode .container {
  background-color: #1e1e1e; /* Fundo escuro para container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra mais escura */
}

body.dark-mode h1 {
  color: #bb86fc; /* Cor roxa clara para títulos no tema escuro */
}

body.dark-mode input {
  background-color: #333; /* Fundo escuro para inputs */
  color: #e0e0e0; /* Fonte branca */
  border-color: #555; /* Borda mais escura */
}

body.dark-mode button {
  background-color: #bb86fc; /* Botão roxo no tema escuro */
  color: white;
}

body.dark-mode button:hover {
  background-color: #9c27b0; /* Roxo mais escuro ao passar o mouse */
}

body.dark-mode .weather-card {
  background-color: #333; /* Fundo escuro para cards */
  border-color: #555; /* Borda mais clara no tema escuro */
}
