/* Estilo Base */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
  max-width: 400px; /* Limita a largura para telas maiores */
  width: 90%; /* Ajusta para telas menores */
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  padding: 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#weatherResult {
  margin-top: 20px;
  text-align: center;
}

.weather-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card p {
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

#themeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s;
}

#themeButton:hover {
  color: #0056b3;
}

/* Tema Escuro */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode input {
  background-color: #333;
  color: #e0e0e0;
  border-color: #555;
}

body.dark-mode button {
  background-color: #bb86fc;
}

body.dark-mode button:hover {
  background-color: #9c27b0;
}

body.dark-mode .weather-card {
  background-color: #333;
  border-color: #555;
}

body.dark-mode h1 {
  color: #bb86fc;
}
